<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.luischen.dao.SearchDomainMapper" >
  <resultMap id="BaseResultMap" type="cn.luischen.model.SearchDomain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="modelName" property="modelname" jdbcType="VARCHAR" />
    <result column="modelAge" property="modelage" jdbcType="INTEGER" />
    <result column="modelType" property="modeltype" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, url, modelName, modelAge, modelType
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_search
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_search
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.luischen.model.SearchDomain" >
    insert into t_search (id, title, url, 
      modelName, modelAge, modelType
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{modelname,jdbcType=VARCHAR}, #{modelage,jdbcType=INTEGER}, #{modeltype,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.luischen.model.SearchDomain" >
    insert into t_search
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="modelname != null" >
        modelName,
      </if>
      <if test="modelage != null" >
        modelAge,
      </if>
      <if test="modeltype != null" >
        modelType,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="modelname != null" >
        #{modelname,jdbcType=VARCHAR},
      </if>
      <if test="modelage != null" >
        #{modelage,jdbcType=INTEGER},
      </if>
      <if test="modeltype != null" >
        #{modeltype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.luischen.model.SearchDomain" >
    update t_search
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="modelname != null" >
        modelName = #{modelname,jdbcType=VARCHAR},
      </if>
      <if test="modelage != null" >
        modelAge = #{modelage,jdbcType=INTEGER},
      </if>
      <if test="modeltype != null" >
        modelType = #{modeltype,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.luischen.model.SearchDomain" >
    update t_search
    set title = #{title,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      modelName = #{modelname,jdbcType=VARCHAR},
      modelAge = #{modelage,jdbcType=INTEGER},
      modelType = #{modeltype,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>